*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,body{
  height:100vh;
  width: 100vw;
}

.container{
  height:100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  flex-direction:column;
  gap: 12px;
}
.heading{
  margin-top:2rem;
  font-size:3rem;
}

.item{
  border : 2px solid white;
  border-radius:7px ;
}

.task{
  width:80vw;
}

.task-main{
  width:100%;
  display: flex;
  flex-direction:column;
  justify-items: center;
  gap:12px;
}

.item{

  padding:6px;
  margin:6px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
