* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hmml,
body {
  height: 100vh;
  width: 100vw;
}

.main-container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background: linear-gradient(45deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
}

.box {
  height: 40vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.box h2 {
  margin-top: 2rem;
}

.box p {
  height: 70%;
  width:80%;
  font-size: 1.5rem;
  text-align:center;
  padding-top:2rem;
}

.button {
  height: 10vh;
  width: 70%;
  border: 2px solid salmon;

  text-align: center;
}
.button button {
  padding: 1rem;
}
