* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  position: relative;
}

.navbar {
  display: block;
  height: 100vh;
  width: 30vw;
  border: 1px solid salmon;
  background-color: khaki;

  transform: translateX(0);
  transition: transform 0.5s ease;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.hamburger-menu {
  position: absolute;
  top: 12px;
  right: 33px;
}
.hamburger-menu i {
  transition: transform 2s ease;
}

.hamburger-menu i:hover {
  color: red;
  transform: rotate(180deg);
}

.hide {
  transform: translateX(-100%);
}
